{% if (app.user) %}
    <nav>
        <ul>
            <li>
                <a href="{{ path('main_home') }}">Accueil</a>
            </li>
            <li>
                <a href="{{ path('user_edit') }}">Mon profil</a>
            </li>
            {% if (is_granted("ROLE_ADMIN")) %}
                <li>
                    <a href="{{ path('dashboard_city_list') }}">Villes</a>
                </li>
                <li>
                    <a href="{{ path('dashboard_campus_list') }}">Campus</a>
                </li>
            {% endif %}
            <li>
                <a href="{{ path('auth_logout') }}">Se déconnecter</a>
            </li>
        </ul>
    </nav>
{% endif %}
