{% extends 'base.html.twig' %}

{% block title %}
    Annulation de sortie | {{ parent() }}
{% endblock %}

{% block body %}
    <h1 class="h3">Annulation de sortie</h1>

    <h3 class="h3">{{ outing.name }}</h3>

    <div>Date : {{ outing.date|date("d/m/Y - H:i") }}</div>
    <div>Campus : {{ outing.campus.name }}</div>
    <div>Lieu : {{ outing.location.name }}</div>
    <div>Rue : {{ outing.location.street }}</div>



{% endblock %}
