{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('script/outing/edit.js') }}" type="module"></script>
{% endblock %}

{% block title %}
    {% if (outing.id) %}
        Modification de sortie | {{ parent() }}
    {% else %}
        Nouvelle sortie | {{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}
    <h1 class="h3">
        {% if (outing.id) %}
            Modification de sortie
        {% else %}
            Nouvelle sortie
        {% endif %}
    </h1>

    {{ form_start(editForm) }}
    {{ form_errors(editForm) }}
    <div class="row">
        <div class="col d-flex">
            <fieldset class="w-100">
                <legend>Informations</legend>
                {{ form_row(editForm.name) }}
                {{ form_row(editForm.date) }}
                {{ form_row(editForm.registrationClosingDate) }}
                {{ form_row(editForm.maxRegistrants) }}
                {{ form_row(editForm.duration) }}
                {{ form_row(editForm.description) }}
                {{ form_row(editForm.campus) }}
            </fieldset>
        </div>

        <div class="col d-flex">
            <fieldset class="w-100">
                <legend>Lieu</legend>
                {{ form_row(editForm.newLocation.city) }}

                <fieldset id="location-form-group">
                    <div class="text-center">
                        {{ form_row(editForm.location) }}
                    </div>
                    <div class="row">
                        <label for="street" class="col-3 form-label text-secondary text-end">Rue</label>
                        <span id="street" class="col form-label">...</span>
                    </div>
                    <div class="row">
                        <label for="latitude" class="col-3 form-label text-secondary text-end">Latitude</label>
                        <span id="latitude" class="col form-label">...</span>
                    </div>
                    <div class="row">
                        <label for="longitude" class="col-3 form-label text-secondary text-end">Longitude</label>
                        <span id="longitude" class="col form-label">...</span>
                    </div>
                </fieldset>

                {{ form_row(editForm.isNewLocation) }}
                <fieldset id="new-location-form-group">
                    <div class="text-center">
                        {{ form_label(editForm.newLocation) }}
                    </div>
                    {{ form_errors(editForm.newLocation) }}
                    {{ form_widget(editForm.newLocation) }}
                </fieldset>
            </fieldset>
        </div>
    </div>

    <div class="text-center">
        <div class="btn-group">
            {{ form_row(editForm.save) }}
            {{ form_row(editForm.saveAndPublish) }}
            {% if (outing.id) %}
                <div class="mb-3">
                    <a href="{{ path('outing_delete', {id: outing.id}) }}" class=" btn btn-sm btn-danger">Supprimer</a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="text-center">
        <div class="btn-group">
            {% include "fragment/home.html.twig" %}
        </div>
    </div>
    {{ form_end(editForm) }}
{% endblock %}
