{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('script/outing/edit.js') }}" type="module"></script>
{% endblock %}

{% block title %}
    {% if (outing.id) %}
        Modification de {{ outing.name }} | {{ parent() }}
    {% else %}
        Nouvelle sortie | {{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}
    {% if (outing.id) %}
        <h1 class="h3">Modification de {{ outing.name }}</h1>
    {% else %}
        <h1 class="h3">Nouvelle sortie</h1>
    {% endif %}

    {{ form_start(outingForm) }}
        {{ form_errors(outingForm) }}

        <div class="row">
            <div class="col d-flex">
                <fieldset class="w-100">
                    <legend>Détails</legend>
                    {{ form_row(outingForm.name) }}
                    {{ form_row(outingForm.date) }}
                    {{ form_row(outingForm.registrationClosingDate) }}
                    {{ form_row(outingForm.maxRegistrants) }}
                    {{ form_row(outingForm.duration) }}
                    {{ form_row(outingForm.description) }}
                    {{ form_row(outingForm.campus) }}
                </fieldset>
            </div>

            <div class="col d-flex">
                <fieldset class="w-100">
                    <legend>Lieu</legend>

                    {{ form_row(outingForm.location.city) }}
                    <fieldset id="existing-location-form-group">
                        {{ form_row(outingForm.existingLocation) }}
                        <div class="form-group row">
                            <label for="street" class="form-label col-3">Rue</label>
                            <span id="street" class="text-secondary col"></span>
                        </div>
                        <div class="form-group row">
                            <label for="latitude" class="form-label col-3">Latitude</label>
                            <span id="latitude" class="text-secondary col"></span>
                        </div>
                        <div class="form-group row">
                            <label for="longitude" class="form-label col-3">Longitude</label>
                            <span id="longitude" class="text-secondary col"></span>
                        </div>
                    </fieldset>

                    {{ form_row(outingForm.isNewLocation) }}
                    <fieldset id="location-form-group">
                        {{ form_errors(outingForm.location) }}
                        {{ form_widget(outingForm.location) }}
                    </fieldset>
                </fieldset>
            </div>
        </div>

        <div class="btn-group">
            {{ form_rest(outingForm) }}
        </div>
    {{ form_end(outingForm) }}
{% endblock %}
