{% extends 'base.html.twig' %}

{% block title %}
    Profil de {{ user.alias }} | {{ parent() }}
{% endblock %}

{% block body %}
    <h1 class="h3">Profil de {{ user.alias }}</h1>

    <div>
        <ul>
            <li>Pseudo : {{ user.alias }}</li>
            <li>Prenom : {{ user.firstName }}</li>
            <li>Nom : {{ user.lastName }}</li>
            <li>Telephone : {{ user.phone }}</li>
            <li>Email : {{ user.email }}</li>
            <li>Campus : {{ user.campus.name }}</li>
        </ul>
    </div>

    {% if (app.user == user) %}
        <div class="btn-group">
            <a href="{{ path('user_edit') }}" class="btn btn-sm btn-primary">Modifier</a>
        </div>
    {% endif %}
{% endblock %}
